a 
@font-face {
	font-family: KiloGram_KG;
     src: url('fonts/KiloGram_KG.otf');
}

@font-face {
	font-family: Speakeasy;
	src: url('fonts/SF_Speakeasy.ttf');
}
@font-face {
	font-family: Lobster;
	src: url('fonts/Lobster.otf');
}
body {
	margin: 0;
	padding: 0;
	background: url(back.jpg) no-repeat center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

header {
	text-align: center;
	font-weight: bold;
	font-family: Speakeasy;
}

.footer {
	text-align: center;
	font-weight: bold;
}

.text {
	position: relative;
	text-align: center;
	color: #fff;
}
.text button:hover {
	background-color: darkorange;
	color: white;
	border-color: darkorange;
}

.contatos {
	position: relative;
	left: 10%;
	width: 500px;
	height: 500px;
}


footer {
     position: absolute;
     bottom: 0px;
     width: 100%;
     background-color: rgba(0,0,0,0.5);
     color: white;
}
.logotipo {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
}
@media only screen and (max-width: 500px){
    footer {
        clear: both;
        width: 100%;
        position: relative;
        margin-bottom: 0;
     }
     .logotipo {
         width: 100%;
         text-align: center;
     }

     #example {
     	position: relative; 
     	width: 100%;
     }

     .sumir {
        display: none;
     }
}
@media only screen and (min-width: 769px) {
    footer {
        width: 100%;
        clear: both;
        margin-bottom: 0;
    }
    .logotipo {
        font-size: 1em;
        width: 100%;
        float: left;
        text-align: center;
     }
}