<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Endless Discovery</title>
	<title></title>
	<link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='stylesheets/style.css' type='text/css'/>
</head>
<body>
	<% include ./headerAdmin.ejs %>
		<div class="wrapper">
			<div class="sidebar" data-image="images/sidebar-5.jpg" data-color="purple">
	            <div class="sidebar-wrapper">
	                <ul class="nav">
	                    <li>
	                        <a class="nav-link" href="/dashBoardProfissional">
	                            <i class="nc-icon nc-chart-pie-35"></i>
	                            <p>Dashboard</p>
	                        </a>
	                    </li>
	                    <li class="nav-item active">
	                        <a class="nav-link" href="./user.html">
	                            <i class="nc-icon nc-circle-09"></i>
	                            <p>Seu perfil</p>
	                        </a>
	                    </li>
	                </ul>
	            </div>
	        </div>
		</div>
	<% include ./footer.ejs %>
	<script src="javascripts/jquery-3.4.1.js"></script>
	<script src="javascripts/bootstrap.js"></script>
</body>
</html>
