<!DOCTYPE html>
<html lang='pt-br'>
<head>
	<meta charset='utf-8'>
	<title>Endless Discovery</title>
	<link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<link rel='stylesheet' href='stylesheets/style.css' type='text/css'/>
</head>
<body>
	<% include ./header.ejs %>
	<header>
		<div class="page-header">
  			FACILIDADE NOS<BR><span style='color: orange;'>ESTUDOS</span>
		</div>
	</header>
	<section>
		<div class='text'>
			Um novo conceito em aprendizado na programação web.<br>
			<a href="/servicos"><button type="button" class="btn btn-default navbar-btn">Conheça</button></a>
    	</div>
	</section>
	<% include ./footer.ejs %>
	<script src="javascripts/jquery-3.4.1.js"></script>
	<script src="javascripts/bootstrap.js"></script>
</body>
</html>