<!DOCTYPE html>
<html lang='pt-br'>
<head>
	<meta charset='utf-8'>
	<title>Endless Discovery</title>
	<link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<link rel='stylesheet' href='stylesheets/style.css' type='text/css'/>
</head>
<body>
	<% include ./header.ejs %>
	<section style="width: 95%; text-align: center; left: 1%;">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="images/back.jpg" alt="150">
          <div class="caption">
            <h3>Quem Somos?</h3>
            <p>A Endless é uma plataforma de suporte ao desenvolvimento web onde você encontra cursos e video-aulas gratuitas, suporte as suas dúvidas, e até mesmo cursos profissionalizantes para você entrar de vez no mercado de trabalho.</p>
            <p><a href="#" class="btn btn-warning" role="button">Conheça!</a></p>
          </div>
        </div>
      </div>
    </div>
	</section>
  <% include ./footer.ejs %>
	<script src="javascripts/jquery-3.4.1.js"></script>
	<script src="javascripts/bootstrap.js"></script>
</body>
</html>